<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.easycloudstorage.mapper.filemodule.SortMapper">
    <select id="normalFileList" resultType="com.easycloudstorage.pojo.NormalFile" parameterType="User">
        select * from normalFile WHERE ownerId=#{accountId};
    </select>

</mapper>