.renameTable{
    height:100px;
    width:50%;
    background-color:#f5f5f5;
    margin:10px;
    border-radius:5px;
    border:2px solid #e3e3e3;
    font-size:30px;
    font-family:Microsoft Yahei;
    text-align:center;
    line-height:100px;
}

.client_menu{
    position:absolute;
    width:120px;
    height:150px;
    list-style-type:none;
    border:2px solid #d0d0d0;
    border-radius:5px;
    padding:20px;
    visibility:hidden;
    background-color:#fff;
}

.client_menu li{
    font-size:15px;
    font-weight: bold;
}

.fileMoveClass{
    cursor:pointer;
}
